<%authorized? %>

<% avg = @user.broker.average %>
<div class="progress">
  <div class="progress-bar" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: <%= avg %>%;">
  <strong>Profit Earning Ratio  <%= avg %>% </strong>
  </div>
</div>


<h3> Welcome <span class="label label-default"><%=@user.name %></span></h3>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Holdings</div><br>

  <!-- Table -->
  <% @user.broker.stocks.each do |s| %>

  <table class="table">
   <li><strong> <%= link_to s.name, stock_path(s.id) %> </strong></li>

 </table>

 <hr>
<% end %>
</div>
